.newsListBlock {
  width: 900px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.loadingBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
}
